DBMS/bin/Debug/DBMS.vshost.exe.config
DBMS/obj/Debug/WindowCreateTable.g.cs
DBMS/obj/Debug/WindowCreateTable.g.i.cs
DBMS/obj/Debug/WindowInsertIntoTable.baml
DBMS/obj/Debug/WindowInsertIntoTable.g.cs
DBMS/obj/Debug/WindowInsertIntoTable.g.i.cs
DBMS/obj/Debug/WindowResultView.baml
DBMS/bin/Debug/DBMS.vshost.exe.manifest
DBMS/bin/Debug/TestTable_dbfile.dbms
DBMS/bin/Debug/databases.dbms
DBMS/bin/Debug/libdb_dotnet62.xml
DBMS/obj/Debug/App.g.cs
DBMS/obj/Debug/App.g.i.cs
DBMS/obj/Debug/DBMS.Properties.Resources.resources
DBMS/obj/Debug/DBMS.csproj.FileListAbsolute.txt
DBMS/obj/Debug/DBMS.g.resources
DBMS/obj/Debug/DBMS_MarkupCompile.i.lref
DBMS/obj/Debug/DBMS_MarkupCompile.lref
DBMS/obj/Debug/GeneratedInternalTypeHelper.g.cs
DBMS/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
DBMS/obj/Debug/MainWindow.baml
DBMS/obj/Debug/MainWindow.g.cs
DBMS/obj/Debug/MainWindow.g.i.cs
DBMS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DBMS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DBMS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DBMS/obj/Debug/WindowCreateDatabase.baml
DBMS/obj/Debug/WindowCreateDatabase.g.cs
DBMS/obj/Debug/WindowCreateDatabase.g.i.cs
DBMS/obj/Debug/WindowCreateIndex.baml
DBMS/obj/Debug/WindowCreateIndex.g.cs
DBMS/obj/Debug/WindowCreateIndex.g.i.cs
DBMS/obj/Debug/WindowCreateTable.baml
DBMS/obj/Debug/WindowResultView.g.cs
DBMS/obj/Debug/WindowResultView.g.i.cs
Revisal/App.config
Revisal/Program.cs
Revisal/Properties/AssemblyInfo.cs
Revisal/Revisal.csproj
Revisal/bin/Debug/Revisal.exe.config
Revisal/bin/Debug/Revisal.vshost.exe.config
Revisal/bin/Debug/Revisal.vshost.exe.manifest
Revisal/bin/Debug/fooOutput.xml
Revisal/obj/Debug/Revisal.csproj.FileListAbsolute.txt
Revisal/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Revisal/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Revisal/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DBMS/bin/Debug/DBMS.exe.config
DBMS/bin/Debug/DBMS.vshost.exe
DBMS/obj/Debug/DBMS.csprojResolveAssemblyReference.cache
DBMS/obj/Debug/DBMS_MarkupCompile.cache
DBMS/obj/Debug/DBMS_MarkupCompile.i.cache
DBMS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
